/* #box{
    height: 250px;
    width: 100px;
    background-color: blue;
    color: white;
    border: 1px solid black;
} */

.para{
    color: white;
    background-color: red;
    height: 400px;
    width: 400px;
    text-decoration: underline;
    text-align: center;
}

.newClass{
    background-color: green;
    

}