/* div{
    height: 100px;
    width: 100px;
    color: white;
    background-color: dodgerblue;
    border: 1px solod black;
} */

.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color:black;
}